.wrapper {
  display: flex;
  position: relative;
}

.wrapper .MuiDrawer-root {
  width: 100px;
}

.wrapper .MuiListItemText-root {
  margin-left: 0.2rem;
}
.wrapper .MuiDrawer-root.MuiDrawer-docked .icon-open {
  transform: rotate(0);
}

.wrapper .MuiDrawer-root.MuiDrawer-docked.close {
  width: 1.5rem;
}

@media (max-width: 1199px) {

  .wrapper .MuiDrawer-paper,
  .wrapper .MuiDrawer-root.MuiDrawer-docked {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
    min-height: 100vh;
  }

  .navContainerClose {
    width: 0 !important;
    transform: translateX(-20rem);
  }

  .wrapper .MuiDrawer-root.MuiDrawer-docked.close {
    width: 0;
  }
}

.wrapper .MuiDrawer-root.MuiDrawer-docked.close .icon-open {
  transform: rotate(180deg);
}

.wrapper>.MuiDrawer-root .MuiPaper-root.MuiPaper-elevation {
  width: inherit;
  padding: 1rem;
  transition: none;
  /* padding-left: 5px; */
}

.wrapper>.MuiBox-root {
  margin: 0;
  min-width: calc(100% - 100px);
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.MuiPaper-root {
  overflow: unset !important;
}

.icon-open {
  position: absolute;
  top: 1.25rem;
  right: -0.9rem;
  cursor: pointer;
  color: var(--white);
  background-color: #F8ADAD;
  border-radius: 50%;
  transition: all 0.26s ease;
}

/* .material-icons-round.css-1neevca-MuiIcon-root {
  width: unset;
  height: unset;
} */

.material-icons-round.icon-open {
  padding: 0.315rem;
  width: unset;
  height: unset;
}

.sidenav-icon {
  display: flex;
}

.sidenav-icon img {
  width: 25px;
  height: 25px;
}

.close.MuiBox-root {
  justify-content: center;
  transition: all 0.2s ease;
}

.nav-item.active .close.MuiBox-root,
a.active .close.MuiBox-root {
  background-color: var(--white);
}

.close.MuiBox-root .MuiListItemText-root {
  display: none;
}

.close.MuiBox-root .MuiListItemIcon-root {
  /* width: 3.625rem;
  height: 3.625rem;
  border-radius: 1.375rem; */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}

.close.MuiBox-root .sidenav-icon img {
  width: 1.75rem;
}

.MuiDrawer-root.MuiDrawer-docked.close .sideBarElement a.active .MuiListItemIcon-root {
  background-color: var(--blue-blue-10) !important;
}

a.active .close.MuiBox-root .MuiListItemIcon-root,
.nav-item.close.active>.MuiBox-root .MuiListItemIcon-root,
.nav-item.close.active a.active .MuiListItemIcon-root {
  background-color: var(--blue-blue-80);
  transition: 0.2s ease;
}

a.active .close.MuiBox-root .MuiListItemIcon-root img,
.nav-item.close.active>.MuiBox-root img,
.style_sideBarElement__janLy a.active img {
  filter: brightness(0) invert(1);
  -webkit-filter: brightness(0) invert(1);
}

.nav-item.active>.MuiBox-root img,
.style_sideBarElement__janLy a.active img {
  filter: invert(46%) sepia(93%) saturate(1734%) hue-rotate(165deg) brightness(93%) contrast(101%);
}

.logo-close.MuiBox-root {
  padding: 0px 15px 0;
}

.sideBarElement .MuiBox-root {
  padding-left: 15px !important;
  padding-right: 8px !important;
}

.nav-item {
  position: relative;
}

.MuiDrawer-root.close .nav-collapse {
  display: block;
  position: absolute;
  top: 0;
  left: calc(100% + 1rem);
  background: #fff;
  width: 250px;
}

.nav-item>.MuiBox-root {
  align-items: center;
}

.nav-item>.MuiBox-root:hover {
  background: #f8f8f8;
}

.nav-item.close>.MuiBox-root {
  justify-content: center;
}

.MuiListItem-padding>div {
  padding-inline: 0;
}

.wrapper>.MuiBox-root {
  transition: width 10s ease !important;
}