.custom-tree-picker .rs-picker-has-value .rs-btn .rs-picker-toggle-value,
.custom-tree-picker .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
  opacity: 1 !important;
  font-style: normal;
}

.custom-tree-picker .rs-picker-has-value.rs-picker-cleanable .rs-picker-toggle.rs-btn {
  padding-left: 5px;
}

.custom-tree-picker .rs-picker-default .rs-picker-toggle.rs-btn {
  padding-left: 5px;
}

.custom-tree-picker .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
  right: 0;
  color: hsl(0deg 0.41% 74.81%);
}

.custom-tree-picker .rs-picker-toggle .rs-picker-toggle-placeholder {
  opacity: 1;
}

.custom-tree-picker .rs-picker-toggle-read-only {
  opacity: 0 !important;
}

.rs-picker-popup .rs-tree-view {
  height: auto !important;
}

.rs-picker-popup {
  z-index: 9999;
}
