.custom-select-box > div {
  padding-left: 4px !important;
}

.select-box-placeholder > div > div:first-of-type {
  font-style: italic;
}

.custom-select-box > div > div > div > span {
  background-color: transparent !important;
}

.custom-select-box > div > div:first-of-type > div > div {
  padding: 3px 0 0 0;
  max-width: 300px;
  /* color: #0320277d; */
  font-family: "Nunito Sans";
  font-size: 14px;
}

.custom-select-box [class*="-multiValue"] {
  background-color: #e7e7e7; /*#f3f6f9 */
  font-size: 12px;
  font-weight: 400;
  border-radius: 50px;
  color: white;
}

.custom-select-box [class*="-multiValue"] [class*="-MultiValueGeneric2"] {
  color: black;
}

.custom-select-box [class*="-multiValue"] [class*="-MultiValueRemove"]:hover {
  /* border-radius: 50px; */
  background-color: unset;
  color: white;
}

.custom-select-box [class*="-multiValue"] [class*="-MultiValueRemove"] svg {
  border-radius: 50px;
  background-color: #9f9f9f;
}

.custom-select-box [class*="-multiValue"] [class*="-MultiValueRemove"] svg:hover {
  color: white;
}
